{% extends "base.html" %} {% block content %}
<div class="col-12">
  <div class="card mx-3">
    <div class="card-body">
      <img src="{{post.image.url}}" class="card-img-top w-50" alt="..." />
      <h1 class="card-title">{{post.title}}</h1>
      <p class="card-text">{{post.content}}</p>
      <p>Author: {{post.author.first_name}} {{post.author.last_name}}</p>
      <p>
        Categories: {% for j in post.category.all %}
        <button class="btn btn-primary btn-sm disabled my-2">{{j.name}}</button>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% endblock content %}
